.custom-chrono h1 {
    font-size: 16px !important;
}

.roadmaph2 {
    font-family: 'Quintessential', cursive;
    overflow-y: hidden;
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 3rem;
    color: var(--color1);
}